# Ignore all of this shit. May need to add more later.
*.DS_Store
*.qpf
*.qsf
*.pdf
*.log
*.rpt
*.bak
*.json
transcript
hls/
ip/
licenses/
logs/
modelsim_ase/
nios2eds/
quartus/
uninstall/
db/
hex_7seg_test/
incremental_db/
output_files/
simulation/
